table {
  border-collapse: collapse; 
  width: 100%;
}

thead tr {
  background-color: rgb(198, 164, 164);
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

.nav-btn{
    padding: 5px;
    margin: 5px;   
}

.active{
    background-color: rgb(197, 228, 197);
}

.search-input{
    padding: 5px;
    margin: 5px;
}